@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Roboto+Condensed:300,400,700|Roboto:100,300,400,700&subset=cyrillic,cyrillic-ext');

*, html, body{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.wrap{
    width: 300px;
    margin: 10px auto;
    padding: 30px;
    border-radius: 20px;
    background: #363636;
}

.calck {
   /* margin: 20px auto;*/
    width: 240px;
    background: #363636;
}

.btn{
    width: 240px;
    display: flex;
    flex-wrap: wrap;
}
#result {
   display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 240px;
           height: 108px;
    font-size: 4em;
    padding: 10px;
text-align: right;    
    overflow: hidden;
    color: #838383;
    background: #363636; 
}
button {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    width: 60px;
    height: 60px;
    color: #838383;
    font-size: 1.5em;
    background: #363636;
    text-align: center;
    line-height: 60px;
    border: 0;
    outline: none;
    border-radius: 10px;
}
button:nth-child(1){
    flex: 180px;
}

button:hover {
    background: #696969;
    color: #fff;
}